<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="fragments :: head"></head>
  <body>
  <div th:replace="fragments :: navbar" ></div>
 
  <main role="main">
      <div class="jumbotron">
          <div class="container">
              <h1 class="display-3">Tech Talent Store</h1>
              <p>This is a small e-commerce application that allows the user to purchase some of a few products that are offered here. </p>
              <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more! &raquo;</a></p>
          </div>
      </div>
 
      <div class="container">
          <div class="row">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://miro.medium.com/max/12032/1*99r7mbdm30qA1xrSJBuQjw.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Robert Rabbit</h5>
                  <p class="card-text">Robert is a young house trained bunny who loves cuddles, carrots and more.</p>
                  <a href="#" class="btn btn-primary">Purchase Robert!</a>
                </div>
              </div>
          </div>
      </div>
  </main>
 
  <footer th:replace="fragments :: footer"></footer>
  </body>
  </html>


